section{
  margin: 120px 60px 30.5px 60px;
  background: blue;
}
div{
  padding: 20px 10px 20px 10px;
  boder: solid purple;
}
p{
  margin: 40px 20px 70px 100px;
  background: pink;
  border: 2px solid #000000;
  width: 200px;
  height: 100px;
}
